name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Lint with flake8
      run: |
        ENV_PATH="/tmp/.venv-flake8"
        python -m venv $ENV_PATH
        source $ENV_PATH/bin/activate
        python -m pip install --upgrade pip
        pip install flake8
        flake8 .
        deactivate

    - name: Test current version
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: |
          ENV_PATH="/tmp/.venv-current"
          python -m venv $ENV_PATH
          source $ENV_PATH/bin/activate
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
          pytest --cov=./pydantic2graphene
          codecov --token="$CODECOV_TOKEN"
          deactivate

    - name: Test graphene==2.0
      env:
        VERSION: "2.0"
      run: |
          python -m venv "/tmp/.venv-graphene-$VERSION"
          source "/tmp/.venv-graphene-$VERSION/bin/activate"
          python -m pip install --upgrade pip
          pip install graphql-core==2.0 graphql-relay==0.4.5 iso8601==0.1.12 "graphene==$VERSION" pydantic==1.5.1 pytest==5.4.3
          pytest
          deactivate

    - name: Test graphene==1.4.2
      env:
        VERSION: "1.4.2"
      run: |
          python -m venv "/tmp/.venv-graphene-$VERSION"
          source "/tmp/.venv-graphene-$VERSION/bin/activate"
          python -m pip install --upgrade pip
          pip install graphql-core==1.1 graphql-relay==0.4.5 iso8601==0.1.12 "graphene==$VERSION" pydantic==1.5.1 pytest==5.4.3
          pytest
          deactivate

    - name: Test graphene==1.4.1
      env:
        VERSION: "1.4.1"
      run: |
          python -m venv "/tmp/.venv-graphene-$VERSION"
          source "/tmp/.venv-graphene-$VERSION/bin/activate"
          python -m pip install --upgrade pip
          pip install graphql-core==1.1 graphql-relay==0.4.5 iso8601==0.1.12 "graphene==$VERSION" pydantic==1.5.1 pytest==5.4.3
          pytest
          deactivate

    - name: Test graphene==1.4
      env:
        VERSION: "1.4"
      run: |
          python -m venv "/tmp/.venv-graphene-$VERSION"
          source "/tmp/.venv-graphene-$VERSION/bin/activate"
          python -m pip install --upgrade pip
          pip install graphql-core==1.1 graphql-relay==0.4.5 iso8601==0.1.12 "graphene==$VERSION" pydantic==1.5.1 pytest==5.4.3
          pytest
          deactivate

    - name: Test graphene==1.3
      env:
        VERSION: "1.3"
      run: |
          python -m venv "/tmp/.venv-graphene-$VERSION"
          source "/tmp/.venv-graphene-$VERSION/bin/activate"
          python -m pip install --upgrade pip
          pip install graphql-core==1.0.1 graphql-relay==0.4.5 iso8601==0.1.12 "graphene==$VERSION" pydantic==1.5.1 pytest==5.4.3
          pytest
          deactivate

    - name: Test graphene==1.2
      env:
        VERSION: "1.2"
      run: |
          python -m venv "/tmp/.venv-graphene-$VERSION"
          source "/tmp/.venv-graphene-$VERSION/bin/activate"
          python -m pip install --upgrade pip
          pip install graphql-core==1.0.1 graphql-relay==0.4.5 iso8601==0.1.12 "graphene==$VERSION" pydantic==1.5.1 pytest==5.4.3
          pytest
          deactivate

    - name: Test graphene==1.1.3
      env:
        VERSION: "1.1.3"
      run: |
          python -m venv "/tmp/.venv-graphene-$VERSION"
          source "/tmp/.venv-graphene-$VERSION/bin/activate"
          python -m pip install --upgrade pip
          pip install graphql-core==1.0.1 graphql-relay==0.4.5 iso8601==0.1.12 "graphene==$VERSION" pydantic==1.5.1 pytest==5.4.3
          pytest
          deactivate

    - name: Test graphene==1.1.2
      env:
        VERSION: "1.1.2"
      run: |
          python -m venv "/tmp/.venv-graphene-$VERSION"
          source "/tmp/.venv-graphene-$VERSION/bin/activate"
          python -m pip install --upgrade pip
          pip install graphql-core==1.0 graphql-relay==0.4.4 iso8601==0.1.12 "graphene==$VERSION" pydantic==1.5.1 pytest==5.4.3
          pytest
          deactivate

    - name: Test graphene==1.1.1
      env:
        VERSION: "1.1.1"
      run: |
          python -m venv "/tmp/.venv-graphene-$VERSION"
          source "/tmp/.venv-graphene-$VERSION/bin/activate"
          python -m pip install --upgrade pip
          pip install graphql-core==1.0 graphql-relay==0.4.4 iso8601==0.1.12 "graphene==$VERSION" pydantic==1.5.1 pytest==5.4.3
          pytest
          deactivate

    - name: Test graphene==1.1
      env:
        VERSION: "1.1"
      run: |
          python -m venv "/tmp/.venv-graphene-$VERSION"
          source "/tmp/.venv-graphene-$VERSION/bin/activate"
          python -m pip install --upgrade pip
          pip install graphql-core==1.0 graphql-relay==0.4.4 iso8601==0.1.12 "graphene==$VERSION" pydantic==1.5.1 pytest==5.4.3
          pytest
          deactivate

    - name: Test graphene==1.0.2
      env:
        VERSION: "1.0.2"
      run: |
          python -m venv "/tmp/.venv-graphene-$VERSION"
          source "/tmp/.venv-graphene-$VERSION/bin/activate"
          python -m pip install --upgrade pip
          pip install graphql-core==1.0 graphql-relay==0.4.4 iso8601==0.1.12 "graphene==$VERSION" pydantic==1.5.1 pytest==5.4.3
          pytest
          deactivate

    - name: Test graphene==1.0.1
      env:
        VERSION: "1.0.1"
      run: |
          python -m venv "/tmp/.venv-graphene-$VERSION"
          source "/tmp/.venv-graphene-$VERSION/bin/activate"
          python -m pip install --upgrade pip
          pip install graphql-core==1.0 graphql-relay==0.4.4 iso8601==0.1.12 "graphene==$VERSION" pydantic==1.5.1 pytest==5.4.3
          pytest
          deactivate

    - name: Test graphene==1.0
      env:
        VERSION: "1.0"
      run: |
          python -m venv "/tmp/.venv-graphene-$VERSION"
          source "/tmp/.venv-graphene-$VERSION/bin/activate"
          python -m pip install --upgrade pip
          pip install graphql-core==1.0 graphql-relay==0.4.4 iso8601==0.1.12 "graphene==$VERSION" pydantic==1.5.1 pytest==5.4.3
          pytest
          deactivate
